/* Pagina Contacto */
/* Frase */
p{
    font-family: 'arial', source-sans-pro, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    letter-spacing: 0.2rem;
    background-color: #fff;
    color: #000;
    overflow-x: hidden;
    width: 100%;
    position: relative;
  }
  /* contacto formulario */
  #contact-form{
    left:50%;
    height: 60vh;
  }
  
   
  
  /* instagram footer responsive*/
  @media (max-width: 449.98px) {
    .instagram {
      font-size: 6.9px;  
      font-weight: bolder;
    }
  }
  /* fin Pag contacto */